.card {
  max-width: 323px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 2px 12px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.card__image {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 162px;
    width: 100%;
  }
}
