.page {
  background-color: #f3f3f3;
  padding: 32px 40px;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
}

@media screen and (max-width: 630px) {
  .page {
    padding: 20px 16px;
  }
}
