.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__date {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.header__logo {
  margin-right: 24px;
}

.header__menu-btn {
  background-color: #ffffff;
  background-image: url("../../assets/hamburger_bars.png");
  background-position: center;
  border: none;
  border-radius: 10px;
  background-repeat: no-repeat;
  padding: 0;
  width: 44px;
  height: 44px;
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}

.header__add-clothes-btn {
  margin-left: auto;
  margin-right: 20px;
  background: none;
  border: none;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
}

.header__username {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.header__avatar {
  margin-left: 12px;
}

@media screen and (max-width: 630px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .header__avatar {
    visibility: hidden;
  }

  .header__username {
    visibility: hidden;
  }

  .header__add-clothes-btn {
    visibility: hidden;
  }

  .header__logo {
    margin: 0 0 32px;
  }

  .header__menu-btn {
    visibility: visible;
    position: absolute;
    top: 18px;
    right: 16px;
  }
}
