@font-face {
  font-family: Cabinet Grotesk;
  src: url("../../vendor/CabinetGrotesk-Regular.woff") format("woff");
}

.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__date {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.header__logo {
  margin-right: 24px;
}

.header__add-clothes-btn {
  margin-left: auto;
  margin-right: 20px;
  background: none;
  border: none;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
}

.header__username {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.header__avatar {
  margin-left: 88px;
}

@media screen and (max-width: 630px) {
  .header {
    flex-direction: column;
  }

  .header__avatar {
    visibility: hidden;
  }

  .header__username {
    visibility: hidden;
  }

  .header__add-clothes-btn {
    visibility: hidden;
  }
}
