.footer {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #000;
}

.footer__author {
  margin: 0;
}

.footer__date {
  margin: 0;
}
